*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 76px;
    align-items: center;
    display: flex;
    background-color: #2c3e50;
}

.content-header{
    height: 50px;
    color: white;
}

.jumbo, .about{
    background-color: #1abc9c;
}

.about, .contact{
    margin: 50px 0;
}

.content-jumbo{
    background-color: #1abc9c;
}

.avatar{
    width: 10%;
}

.title-content{
    height: 50px;
}

.card-content{
    height: 250px;
    border-radius: 30px;
    margin: 10px 0;
}

.content-form{
    height: 250px;
}

.top-footer{
    background-color: #3a546d;
}

.bottom-footer{
    background-color: #2c3e50;
}

.content-top-footer{

    height: 125px;

}

.bottom-footer-content{

    height: 75px;

    margin: 20px 0;
}